@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");

$header-offset-mb: 50px;
$header-offset-dk: 57px;
main {
  height: calc(100% - #{$header-offset-mb});
  width: 100%;
  background-image: url("./celebration.jpeg");
  background-size: cover;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Playfair Display", serif;

  .title {
    z-index: 10;
    width: 100%;
    // height: 3rem;
    margin-bottom: 1em;

    .title-text {
      color: white;
      text-align: center;
      font-size: 3em;
    }
  }

  .sub-title {
    z-index: 10;
    width: 100%;
    height: 3rem;
    margin-bottom: 1em;
    font-family: "Black Han Sans", sans-serif;

    .sub-title-text {
      color: #f0da4f;
      text-align: center;
      font-size: 3em;
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7);
    opacity: 1;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
  }
}
