@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");

$color-pink: #f09282;
$color-light-pink: #fefdf6;
// #F09282
.home-background {
  // height: 100vh;
  width: 100%;
  background-size: cover;
  background-color: black;
  background-image: url("./space-background.jpeg");
  background-size: cover;
  font-family: "Black Han Sans", sans-serif;

  .title--header {
    font-family: "Black Han Sans", sans-serif;
    font-size: 3em;
    text-align: center;
    width: 100%;
    height: auto;
    color: $color-light-pink;
    z-index: 10;
    p {
      padding-top: 0.3em;
      color: $color-pink;
      animation: font-color-change 7s infinite;
    }
  }

  .star-wars {
    display: flex;
    justify-content: center;
    color: #ffe81f;
    font-size: 4em;
    overflow: hidden;
    line-height: 150%;
    perspective: 400px;
    position: relative;

    .crawl {
      position: absolute;
      // top: 99999px;
      transform-origin: 50% 100%;
      animation: crawl 10s linear 0s infinite;
      z-index: 10;

      .text--inline {
        position: relative;
        height: 1em;
        .text--position {
          position: absolute;
          left: 1em;
        }

        .text--name {
          position: absolute;
          left: 3em;
        }
      }

      * {
        width: 150%;
        margin-top: 1em;
      }
    }
  }

  .context {
    width: 100%;
    height: 100vh;
    position: relative;

    img {
      width: 250px;
      height: 350px;
      position: absolute;
    }

    @for $i from 0 through 5 {
      .actor-img-#{$i} {
        z-index: 0;
        animation: actor-animate-#{$i} 40s ease-in-out infinite 0s alternate;
      }
    }
  }

  .video-wrapper {
    z-index: 10;
    width: 100%;
    .video--iframe {
      padding: 0.5em;
      width: 100%;
    }
  }
}

@for $i from 0 through 5 {
  @keyframes actor-animate-#{$i} {
    0% {
      top: random(10) + vh;
      left: random(90) + vw;
      transform: rotate(0deg) scale(random(10) / 13);
    }

    25% {
      top: random(93) + vh;
      left: random(10) + vw;
      transform: rotate(360deg) scale(random(10) / 13);
    }

    50% {
      top: (30 + random(20)) + vh;
      left: random(90) + vw;
      transform: rotate(0deg) scale(random(10) / 13);
    }

    75% {
      top: random(10) + vh;
      left: random(90) + vw;
      transform: rotate(360deg) scale(random(10) / 13);
    }

    100% {
      top: random(93) + vh;
      left: random(90) + vw;
      transform: rotate(0deg) scale(random(10) / 13);
    }
  }
}

@keyframes crawl {
  0% {
    top: 2000px;
    transform: rotateX(20deg) translateZ(0);
  }
  100% {
    top: -8000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}

@keyframes font-color-change {
  0% {
    color: #d45651;
  }

  50% {
    color: #fefdf6;
  }

  100% {
    color: #d45651;
  }
}

/* Custom, iPhone Retina */
@media only screen and (min-width: 220px) {
  .home-background {
    .title--header {
      font-size: 2em;
    }

    .star-wars {
      font-size: 5em;
      height: 50vh;
      .crawl {
        left: -150px;
        .text--inline {
          .text--position {
            left: 1em;
          }

          .text--name {
            left: 5em;
          }
        }
      }
    }

    .video--iframe {
      padding: 0em;
      height: 50vh;
    }
  }
}

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  .home-background {
    .title--header {
      font-size: 3em;
    }

    .star-wars {
      font-size: 5em;
      height: 50vh;
      .crawl {
        left: -150px;
        .text--inline {
          .text--position {
            left: 1em;
          }

          .text--name {
            left: 5em;
          }
        }
      }
    }

    .video--iframe {
      padding: 0em;
      height: 50vh;
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  .home-background {
    .title--header {
      font-size: 4em;
    }

    .star-wars {
      font-size: 5em;
      height: 50vh;
      .crawl {
        .text--inline {
          .text--position {
            left: 1em;
          }

          .text--name {
            left: 5em;
          }
        }
      }
    }

    .video--iframe {
      padding: 0em;
      height: 50vh;
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .home-background {
    .title--header {
      font-size: 6em;
    }

    .star-wars {
      height: 50vh;
      font-size: 10em;
      .crawl {
        .text--inline {
          .text--position {
            left: 1em;
          }

          .text--name {
            left: 4em;
          }
        }
      }
    }

    .video--iframe {
      padding: 0em;
      height: 50vh;
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  .home-background {
    .title--header {
      font-size: 6em;
    }

    .star-wars {
      height: 50vh;
      font-size: 10em;
      .crawl {
        .text--inline {
          .text--position {
            left: 1em;
          }

          .text--name {
            left: 4em;
          }
        }
      }
    }

    .video--iframe {
      padding: 0em;
      height: 50vh;
    }
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  .home-background {
    .title--header {
      font-size: 6em;
    }

    .star-wars {
      font-size: 10em;
      text-align: justify;
      letter-spacing: 60px;
      height: 100vh;
      .crawl {
        .text--inline {
          .text--position {
            left: 1em;
          }

          .text--name {
            left: 5em;
          }
        }
      }
    }

    .video--iframe {
      padding: 0em;
      height: 95vh;
    }
  }
}
