@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700");

body {
  background: #f0f8ea;
}

header {
  background: #e54b4b;
  color: #ebebd3;
  padding: 1em 0;
  position: relative;
  font-family: "Quicksand", sans-serif;
  z-index: 100;

  &::after {
    content: "";
    clear: both;
    display: block;
  }

  .container {
    width: 95%;
    max-width: 1000px;
    margin: 0 auto;
  }

  .logo {
    float: left;
    font-size: 1rem;
    margin: 0;
    font-weight: 700;
    text-transform: uppercase;

    span {
      font-weight: 400;
    }
  }

  .site-nav {
    position: absolute;
    background: #464655;
    top: 100%;
    right: 0;
    transition: all .5s linear 0s;
    clip-path: circle(0px at top right);

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        border-bottom: 1px solid #575766;
      }

      li:last-child {
        border-bottom: none;
      }
    }

    a {
      color: #ebebd3;
      display: block;
      padding: 2em 4em 2em 1.5em;
      text-transform: uppercase;
      text-decoration: none;
      font-weight: 400;

      &:hover,
      &:focus {
        background: #e4b363;
        color: #464655;
      }
    }

  }

  .site-nav--icon {
    display: inline-block;
    margin-right: 1em;
    font-size: 1.5em;
    width: 1.1em;
    text-align: right;
    color: rgba(255, 255, 255, .4)
  }

  .site-nav--open {
    clip-path: circle(150% at top right);
    transition: all .5s linear 0s;
  }

  .site-nav--close {
    max-height: 0px;
    transition: max-height .5s linear 0s;
  }

  .menu-toggle {
    // background: black;
    padding: 1em;
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    cursor: pointer;

    .hamburger {
      background: #ebebd3;
      height: 3px;
      width: 1.75em;
      border-radius: 3px;
      transition: all 0.2s linear;

      &::before,
      &::after {
        content: "";
        display: block;
        background: #ebebd3;
        height: 3px;
        width: 1.75em;
        border-radius: 3px;
      }

      &::before {
        transform: translateY(-6px);
        transition: all 0.2s linear;
      }

      &::after {
        transform: translateY(3px);
        transition: all 0.2s linear;
      }
    }

    .hamburger--open {
      transform: rotate(45deg);
      transition: all 0.2s linear;
      &::before {
        opacity: 0;
      }

      &::after {
        transform: translateY(-2px) rotate(-90deg);
        transition: all 0.2s linear;
      }
    }
  }
}

@media (min-width: 1000px) {
  header .site-nav {
    height: auto;
    position: relative;
    background: transparent;
    float: right;
    clip-path: initial;
    height: auto;
    max-height: 500px;
    transition: max-height .3s linear 0s;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        display: inline-block;
        border: none;
      }
    }

    a {
      color: #ebebd3;
      display: block;
      padding: 0;
      text-transform: uppercase;
      text-decoration: none;
      margin-left: 3em;

      &:hover,
      &:focus {
        background: transparent;
        color: #464655;
      }
    }

  }

  .menu-toggle {
      display: none;
  }
}
