@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');


$frame-height-mb: 120px;
$background-height-mb: $frame-height-mb * 6;
$text-margin-top-mb: 36px;

$frame-height: 320px;
$background-height: $frame-height * 3;
$text-margin-top: $frame-height / 2 + 30px;


.actors-background {
  height: $background-height-mb;
  width: 100%;
  background-image: none;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-family: 'Black Han Sans', sans-serif;

  .actor-frame {
    width: 100%;
    height: $frame-height-mb;
    background: yellow;
    text-align: center;
    border-bottom: 0.1em solid black;
    position: relative;
    z-index: 0;
    overflow: hidden;

    img {
      position: absolute;
      z-index: -1;
    }

    .actor-img-0 {
      left: -60px;
      top: -10px;
    }

    .actor-img-1 {
      left: 30px;
      top: -30px;
    }

    .actor-img-2 {
      left: 100px;
      top: -50px;
    }

    .actor-img-3 {
      left: 190px;
      top: 0;
    }

    .actor-img-4 {
      left: 230px;
    }

    .actor-img-5 {
      left: 190px;
      top: -20px;
    }

    p {
      margin-top: $text-margin-top-mb;
      font-size: 3em;
    }
  }
}

@media (min-width: 800px) {
  .actors-background {
    height: $background-height;
    .actor-frame {
      width: 50%;
      height: $frame-height;
      border: 0.1em solid black;
      p {
      margin-top: $text-margin-top;
      font-size: 4em;
    }
    }
  }
}