@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap");

$frame-height-mb: 120px;
$background-height-mb: $frame-height-mb * 6;
$text-margin-top-mb: 36px;

$frame-height: 320px;
$background-height: $frame-height * 3;
$text-margin-top: $frame-height / 2 + 30px;

.actors-background {
  height: $background-height-mb;
  width: 100%;
  background-image: none;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  font-family: "Black Han Sans", sans-serif;

  .actor-frame {
    width: 100%;
    height: $frame-height-mb;
    background: #f9e44c;
    text-align: center;
    border-bottom: 0.1em solid black;
    position: relative;
    z-index: 0;
    overflow: hidden;

    .bg-triangle--before {
      position: absolute;
      width: 0px;
      height: 0px;
      border-left: 500px solid black;
      border-bottom: 500px solid transparent;
      top: -600px;
      left: 0;
      transition: top 0.3s ease-out 0s;
    }

    .bg-triangle--after {
      position: absolute;
      width: 0px;
      height: 0px;
      border-right: 500px solid black;
      border-top: 500px solid transparent;
      top: 350px;
      right: 0;
      transition: top 0.3s ease-out 0s;
      // top: -210px;
      // right: 0;
    }

    div[class^="comment-"] {
      position: absolute;
      text-align: center;
      color: white;
      height: 100%;
      width: 500px;
      font-size: 2em;
      top: 40px;
      transition: all 0.1s ease-out 0s;
    }

    .comment--left {
      left: -600px;
    }

    .comment--right {
      right: -600px;
    }

    img {
      position: absolute;
      z-index: -1;
    }

    div[class^="actor-img-"] {
      transition: all 0.3s ease-out 0.2s;
    }

    .actor-img-0 {
      left: -60px;
      top: -10px;
    }

    .actor-img-1 {
      left: 30px;
      top: -30px;
    }

    .actor-img-2 {
      left: 100px;
      top: -50px;
    }

    .actor-img-3 {
      left: 190px;
      top: 0;
    }

    .actor-img-4 {
      left: 230px;
    }

    .actor-img-5 {
      left: 190px;
      top: -20px;
    }

    p {
      margin-top: $text-margin-top-mb;
      font-size: 3em;
    }

    .actor-nickname {
      position: absolute;
      right: -500px;
      color: white;
    }
  }

  @for $i from 0 through 5 {
    .actor-animate-#{$i}:active > .actor-img-#{$i},
    .actor-animate-#{$i}:hover > .actor-img-#{$i} {
      transform: scale(1.3);
      transition: all 0.3s ease-in 0.2s;
    }

    .actor-animate-#{$i}:active > p,
    .actor-animate-#{$i}:hover > p {
      opacity: 0;
      transition: all 0.2s ease-in 0s;
    }
  }

  @for $i from 0 through 5 {
    .actor-animate-#{$i}:active > .comment--left,
    .actor-animate-#{$i}:hover > .comment--left {
      left: -140px;
      transition: all 0.3s ease-in 0.2s;
    }

    .actor-animate-#{$i}:active > .comment--right,
    .actor-animate-#{$i}:hover > .comment--right {
      right: -140px;
      transition: all 0.3s ease-in 0.2s;
    }
  }

  .actor-animate-0:active > .bg-triangle--before,
  .actor-animate-0:hover > .bg-triangle--before {
    top: -380px;
    transition: top 0.5s ease-in 0s;
  }

  .actor-animate-0:active > .bg-triangle--after,
  .actor-animate-0:hover > .bg-triangle--after {
    top: -180px;
    transition: top 0.5s ease-in 0s;
  }

  .actor-animate-1:active > .bg-triangle--after,
  .actor-animate-1:hover > .bg-triangle--after {
    top: -180px;
    transition: top 0.5s ease-in 0s;
  }

  .actor-animate-1:active > .bg-triangle--before,
  .actor-animate-1:hover > .bg-triangle--before {
    top: -380px;
    transition: top 0.5s ease-in 0s;
  }

  .actor-animate-2:active > .bg-triangle--after,
  .actor-animate-2:hover > .bg-triangle--after {
    top: -100px;
    transition: top 0.5s ease-in 0s;
  }

  .actor-animate-2:active > .bg-triangle--before,
  .actor-animate-2:hover > .bg-triangle--before {
    top: -290px;
    transition: top 0.5s ease-in 0s;
  }

  .actor-animate-3:active > .bg-triangle--after,
  .actor-animate-3:hover > .bg-triangle--after {
    top: -10px;
    transition: top 0.5s ease-in 0s;
  }

  .actor-animate-3:active > .bg-triangle--before,
  .actor-animate-3:hover > .bg-triangle--before {
    top: -210px;
    transition: top 0.5s ease-in 0s;
  }

  .actor-animate-4:active > .bg-triangle--before,
  .actor-animate-4:hover > .bg-triangle--before {
    top: -210px;
    transition: top 0.5s ease-in 0s;
  }

  .actor-animate-4:active > .bg-triangle--after,
  .actor-animate-4:hover > .bg-triangle--after {
    top: 5px;
    transition: top 0.5s ease-in 0s;
  }

  .actor-animate-5:active > .bg-triangle--before,
  .actor-animate-5:hover > .bg-triangle--before {
    top: -100px;
    transition: top 0.5s ease-in 0s;
  }
}

@media only screen and (max-width: 350px) {
  .actors-background {
    .actor-frame {
      .actor-img-3 {
        left: -20px;
      }

      .actor-img-4 {
        left: 50px;
      }

      .actor-img-5 {
        left: 50px;
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  .actors-background {
    height: $background-height;
    .actor-frame {
      width: 50%;
      height: $frame-height;
      border: 0.1em solid black;
      p {
        margin-top: $text-margin-top;
        font-size: 4em;
      }

      .actor-nickname {
        position: absolute;
        bottom: 20px;
        z-index: 10;
      }

      .actor-img-5 {
        left: 100px;
        top: -20px;
      }
    }

    @for $i from 0 through 5 {
      .actor-animate-#{$i}:active > .actor-nickname,
      .actor-animate-#{$i}:hover > .actor-nickname {
        opacity: 1;
        color: white;
        right: 50px;
        transition: all 0.2s ease-in 0.3s;
      }
    }

    .actor-animate-2:active > .bg-triangle--after,
    .actor-animate-2:hover > .bg-triangle--after {
      top: -50px;
      transition: all 0.3s ease-in 0.2s;
    }

    .actor-animate-2:active > .comment--left,
    .actor-animate-2:hover > .comment--left {
      left: -180px;
      transition: all 0.3s ease-in 0.2s;
    }

    .actor-animate-2:active > .comment--right,
    .actor-animate-2:hover > .comment--right {
      right: -200px;
      transition: all 0.3s ease-in 0.2s;
    }

    .actor-animate-5:active > .bg-triangle--before,
    .actor-animate-5:hover > .bg-triangle--before {
      top: -240px;
      transition: all 0.3s ease-in 0.2s;
    }

    .actor-animate-5:active > .bg-triangle--after,
    .actor-animate-5:hover > .bg-triangle--after {
      top: 10px;
      transition: all 0.3s ease-in 0.2s;
    }
  }
}

@media only screen and (min-width: 1200px) {
  .actors-background {
    height: $background-height;
    flex-direction: row;
    .actor-frame {
      width: 50%;
      height: $frame-height;
      border: 0.1em solid black;
      display: flex;
      align-items: center;
      justify-content: space-around;

      p {
        margin-top: 0;
        margin-left: 0px;
        font-size: 4em;
        z-index: 10;
      }

      img {
        position: static;
      }
    }
    .actor-animate-0:active > .actor-img-0,
    .actor-animate-0:hover > .actor-img-0 {
      transform: translateX(120px) scale(1.2);
      transition: all 0.3s ease-in 0.2s;
    }

    .actor-animate-1:active > .actor-img-1,
    .actor-animate-1:hover > .actor-img-1 {
      transform: translateX(120px) scale(1.2);
      transition: all 0.3s ease-in 0.2s;
    }

    .actor-animate-2:active > .actor-img-2,
    .actor-animate-2:hover > .actor-img-2 {
      transform: translateX(70px) scale(1.2);
      transition: all 0.3s ease-in 0.2s;
    }

    .actor-animate-3:active > .actor-img-3,
    .actor-animate-3:hover > .actor-img-3 {
      transform: translateX(110px) scale(1.2);
      transition: all 0.3s ease-in 0.2s;
    }

    .actor-animate-4:active > .actor-img-4,
    .actor-animate-4:hover > .actor-img-4 {
      transform: translateX(150px) scale(1.2);
      transition: all 0.3s ease-in 0.2s;
    }

    .actor-animate-5:active > .actor-img-5,
    .actor-animate-5:hover > .actor-img-5 {
      transform: translateX(30px) scale(1.2);
      transition: all 0.3s ease-in 0.2s;
    }

    @for $i from 0 through 5 {
      .actor-animate-#{$i}:active > .actor-nickname,
      .actor-animate-#{$i}:hover > .actor-nickname {
        opacity: 1;
        color: white;
        right: 50px;
        transition: all 0.2s ease-in 0.3s;
      }

      .actor-animate-#{$i}:active > .bg-triangle--before,
      .actor-animate-#{$i}:hover > .bg-triangle--before {
        top: -180px;
        transition: all 0.3s ease-in 0.2s;
      }

      .actor-animate-#{$i}:active > .bg-triangle--before,
      .actor-animate-#{$i}:hover > .bg-triangle--before {
        top: -180px;
        transition: all 0.3s ease-in 0.2s;
      }

      .actor-animate-#{$i}:active > .bg-triangle--after,
      .actor-animate-#{$i}:hover > .bg-triangle--after {
        top: -180px;
        transition: all 0.3s ease-in 0.2s;
      }

      .actor-animate-#{$i}:active > .comment--left,
      .actor-animate-#{$i}:hover > .comment--left {
        left: -140px;
        transition: all 0.3s ease-in 0.2s;
      }

      .actor-animate-#{$i}:active > .comment--right,
      .actor-animate-#{$i}:hover > .comment--right {
        right: -140px;
        transition: all 0.3s ease-in 0.2s;
      }
    }
  }
}
